@use '../abstracts' as *;

.deals {
    font-family: $descriptionfont;
    background-color: $c_white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: $sidepadding; 
}

@media only screen and (min-width: $mediaBreakPoint4) {
    .deals {
        padding-left: $sidepadding2 * 1rem;
        padding-right: $sidepadding2 * 1rem;
    }
}