@use '../abstracts' as *;

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $c_green;
    margin: 0;
    padding: 2rem $sidepadding * 1rem 3rem $sidepadding * 1rem;

    .menu {
        display: inline-flex;
        align-items: center;
    }
}

.menuicon {
    position: relative;
    display: inline-block;
    width: 2rem;
    cursor: pointer;
}

.links {
    font-family: $linksfont;
    display: none;
    width: fit-content;
    a {
        color: $c_white;
        padding-right: 1rem;
        text-decoration: none;
    }
}

.menuicon:hover .links {
    display: block;
}

@media only screen and (min-width: $mediaBreakPoint2) {
    
    .links {
        display: inline;
    }

    .menuicon {
        display: none;
    }
    
}

@media only screen and (min-width: $mediaBreakPoint4) {
    .navbar {
        padding-left: $sidepadding2 * 1rem;
        padding-right: $sidepadding2 * 1rem;
    }
}