@use './abstracts' as *;
@use './uiElements' as *;
@use './sections' as *;

body {
    background-color: $c_white;
    margin: 0;
}

.icon {
    width: 1.35375rem;
    margin-right: 0.3rem;
}

.timber {
    font-family: $logofont;
    display: flex;
    align-items: center;
    color: $c_white;
    display: inline;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

.menuicon {
    position: relative;
    display: inline-block;
    width: 2rem;
}

.links {
    font-family: $linksfont;
    display: none;
    position: relative;
    width: fit-content;
    a {
        color: $c_white;
        padding-right: 1rem;
        text-decoration: none;
    }
    z-index: 2;
    top: 2rem;
}

.menuicon:hover .links {
    display: block;
    
}

.catchphrase {
    font-family: $catchphrasefont;
    color: $c_white;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.landing {
    background-color: $c_green;
    padding: 0 $sidepadding;

    .uiButton, .uiButton--Trans {
        margin-bottom: 1rem;
    }
}

.trees {
    display: block;
    width: fit-content;
    position: absolute;
    top: 12.9375rem;
    right: 1.5rem;
}

#tree1 {
    width: 2.756875rem;
}

#tree2 {
    width: 1.735625rem;
}

#tree3 {
    width: 6.075625rem;
}

.description {
    font-family: $descriptionfont;
    display: flex;
    font-size: 1.5rem;
    flex-wrap: wrap;
    padding: 5rem $sidepadding;
    justify-content: space-around;
}

.description-text {
    text-align: justify;
    text-justify: auto;
    text-indent: 5rem;
}

@media only screen and (min-width: 500px) {
    
    .links {
        display: inline;
    }

    .menuicon {
        display: none;
    }
    
   
    .catchphrase {
        width: 70%;
    }
}

@media only screen and (min-width: 895px) {
     
    .landing {
        height: 35rem;
    }

    .trees {
        position: absolute;
        right: 5vw;
        top: 14rem;
        width: fit-content;
    }
}