$logofont: monospace;
$linksfont: monospace;
$catchphrasefont: sans-serif;
$descriptionfont: 'Trebuchet MS';
$dealsfont: $descriptionfont;
$buttonfont: $catchphrasefont;
$footerfont: $descriptionfont;