@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Ruda:wght@400;900&family=Saira&display=swap');

$logofont: 'Saira', monospace;
$linksfont: 'Ruda', monospace;
$catchphrasefont: 'Barlow Condensed', sans-serif;
$descriptionfont: 'Trebuchet MS';
$dealsfont: 'Ruda', monospace;
$buttonfont: 'Ruda', monospace;
$footerfont: $descriptionfont;