$sidepadding: 1.5;
$sidepadding2: 6;
$roundness: 0.3;

$smallTree: 4.5;
$mediumTree: 7.159375;
$bigTree: 12.375;

$mediaBreakPoint1: 360px;
$mediaBreakPoint2: 500px;
$mediaBreakPoint3: 800px;
$mediaBreakPoint4: 900px; //final padding